.ant-layout-sider {
    border-right: solid #c5c5c5 1px;
    background-color: #0D83DD!important;
    color:#fff;

    .ant-layout-sider-zero-width-trigger {
        background-color: #0D83DD;
    }

    .logo {
       display:block;
       margin: 10px auto 20px
    }

    .ant-menu.ant-menu-dark.custom-menu {
        background-color: #0D83DD;
        margin: 0;
        border: 0;

        &.top {
            padding: 20px 5px 5px 15px;
        }

        &.bottom {
            font-size: small;
            padding:20px 0px 10px;
        }
    
        & .ant-menu-item-selected.customclass{
            font-weight: 500!important;
            font-size: medium;
            border-right: solid 5px!important;
            background-color: transparent!important;
        } 
    
    }
    
    .ant-btn.ant-btn-primary.custombutton  {
      margin: 20px auto; 
      width: 65%;
      height: max-content;
      padding: 7px;
      display: block;
      border-radius: 5px;
      background-color: #fff;
      color:#0D83DD;
      border: none;
      font-weight: 400;
      font-size: small;
    }
    
    .premiumimg {
       display: block!important;
       width: 70%;
       margin: 20px auto;
    }
}
