

.SideBar{
    position: absolute;
left: 0%;
right: 83.33%;
top: 0%;
bottom: -15.5%;

background: #0D83DD;
box-shadow: 4px 0px 12px rgba(0, 47, 108, 0.05);
}
.logo{
    position: absolute;
left: 30.42%;
right: 88.82%;
top: 3.36%;
bottom: 93.1%;

font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 38px;

color: #FFFFFF;
}
.optionlist{
    position: absolute;
    top: 200px;

}
.option{

padding-left: 10%;
padding-bottom: 50px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
text-decoration: none;
color: #FFFFFF;
}
.icon{



border-radius: 0px;

position: relative;


background: #b13434;
}