.home-card {
    
    border-radius: 20px!important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight:400!important;
    font-size: 16px!important;
}
.home-perc{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500!important;
font-size: 18px!important;
}
.home-title{
    color: #D7EECC;
    font-size: 20px;
    text-align: left;
}
.count-text{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
color: #2196F3;
}